NODE_ENV=development
PORT=3000
DB_HOST=localhost
DB_PORT=1433
DB_USERNAME=sa
DB_PASSWORD=12345678
DB_NAME=BankManagementSystem

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_EMAIL=s2004kin@gmail.com
SMTP_PASSWORD=hhtv iyuk ztab xfkx